.table-header {
  color: #000;
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
}

.table-header th.sorted {
  /* background-color: #e0e0e0; */
  cursor: pointer;
}

.text-and-icon-container {
  display: flex;
  align-items: center;
}

.text {
  margin-right: 12px;
}

.icon {

}

.sort-button-bg {
  background-color: rgb(222, 218, 250, 0.5);
}