.table-header {
  color: #000;
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
}

.table-header th.sorted {
  /* background-color: #e0e0e0; */
  cursor: pointer;
}


.sort-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 0;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 24px;
  width: 40px;
  height: 40px;
  justify-content: center;
  background-color: #f7f7f7;
  /* opacity: 0.5; */
}

.sort-button:hover {
  background-color: rgb(222, 218, 250);
}

.sort-button-bg {
  background-color: rgb(222, 218, 250, 0.5);
}


.sort-icon {
  transition: transform 0.3s;
  color: #222;
}

.sort-button.asc .sort-icon {
  transform: rotate(180deg);
}

.sort-button.desc .sort-icon {
  transform: rotate(0deg);
}

.text-and-icon-container {
  display: flex;
  align-items: center;
}

.text {
  margin-right: 12px;
}

.icon {

}